/* footer.css */
#footer {
    width: 100%;
    height: 50px;
    background-color: #222222;
    border-top: solid #444444 8px;
    box-shadow: 0 -5px 5px #858585;
    color: #CCCCCC;
    font-size: 12px;
    text-align: center;
    position: fixed; /* Utilisez "fixed" au lieu de "absolute" */
    bottom: 0;
}


